<head>
    <title>TheCaffeineLab</title>
    <link rel="icon" type="image/svg+xml" href='{{ "/assets/images/caffeinelogo.svg" | relative_url }}' sizes="any">
    
    <link rel="stylesheet" href='{{ "/assets/css/thecaffeinelab.css" | relative_url }}'>
    <link rel="stylesheet" type="text/css" href='{{ "/assets/css/style.css" }}' />
    <script src="https://kit.fontawesome.com/260fafe623.js" crossorigin="anonymous"></script>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
          jax: ["input/TeX", "output/HTML-CSS"],
          "HTML-CSS": { availableFonts: [] }
        }); 
    </script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
     
</head>
